TIDAL Hi-Fi/
yay/
mozilla/
vesktop/
libreoffice/
zen/
chromium/
Electron/
dconf/
pulse/
winapps/winapps.conf
oh-my-zsh/
freerdp/
go/
nemo/bookmark-metadata
nemo/desktop-metadata
hypr/current_wallpaper
session/
swaync/newfile
matuwall/config.json
rofi/config (Copy).rasi
