* {
    background: #1a110f;
    error: #ffb4ab;
    error-container: #93000a;
    inverse-on-surface: #392e2b;
    inverse-primary: #8f4c36;
    inverse-surface: #f1dfda;
    on-background: #f1dfda;
    on-error: #690005;
    on-error-container: #ffdad6;
    on-primary: #561f0d;
    on-primary-container: #ffdbd0;
    on-primary-fixed: #3a0b00;
    on-primary-fixed-variant: #723521;
    on-secondary: #442a22;
    on-secondary-container: #ffdbd0;
    on-secondary-fixed: #2c160e;
    on-secondary-fixed-variant: #5d4037;
    on-surface: #f1dfda;
    on-surface-variant: #d8c2bc;
    on-tertiary: #3a3005;
    on-tertiary-container: #f4e2a7;
    on-tertiary-fixed: #221b00;
    on-tertiary-fixed-variant: #52461a;
    outline: #a08c87;
    outline-variant: #53433f;
    primary: #ffb59e;
    primary-container: #723521;
    primary-fixed: #ffdbd0;
    primary-fixed-dim: #ffb59e;
    scrim: #000000;
    secondary: #e7bdb1;
    secondary-container: #5d4037;
    secondary-fixed: #ffdbd0;
    secondary-fixed-dim: #e7bdb1;
    shadow: #000000;
    surface: #1a110f;
    surface-bright: #423734;
    surface-container: #271d1b;
    surface-container-high: #322825;
    surface-container-highest: #3d322f;
    surface-container-low: #231917;
    surface-container-lowest: #140c0a;
    surface-dim: #1a110f;
    surface-tint: #ffb59e;
    surface-variant: #53433f;
    tertiary: #d7c68d;
    tertiary-container: #52461a;
    tertiary-fixed: #f4e2a7;
    tertiary-fixed-dim: #d7c68d;
}
